
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Baloon;
    overflow: hidden;
    margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;

}

/* sidebar start */

.sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    background: rgba(255, 255, 255, .2);
    width: 200px;
    height: 100%;
    transition: .4s;
}

.sidebar ul {
    margin: 0;
    padding:20px 0;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul li a{
    padding:10px 20px;
    color:white;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.sidebarBtn{
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    /* cursor: pointer; */
    background: none;
    border:none;
    outline:none;
    padding:5px;
}
/* .sidebarBtn span{
    display: block;
    width: 35px;
    height: 3px;
    background: black;
    position: absolute;
    top: 24px;
    transition: .4s;
    
} */

/* .sidebarBtn span:before{
    content:'';
    position: absolute;
    top:-10px;
    left: 0;
    width: 100%;height: 3px;
    background: black;
    transition:.4s
}
.sidebarBtn span:after{
    content:'';
    position: absolute;
    top:10px;
    left: 0;
    width: 100%;height: 3px;
    background: black;
    transition:.4s
} */
.side_active{
    left: 0;
    
}
/* sidebar end */


.banner-text{
    width: 100%;
    position: absolute;
}    
.banner-text ul{
    height:50px;
    float: right;
}    


.banner-text ul li{
    display: inline-block;
    padding: 40px 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}
.banner-text h2{
    text-align:center;
    color:#fff;
    font-size: 50px;
    margin-top: 20%;
}

/* .animation-area{
    background: linear-gradient(to left, #8942a8,#ba382f);
    width: 100%;
    height: 100vh;
} */

.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    /* background: rgba(255, 255, 255, .2); */
    color: white;
    font-weight: bold;
    animation:animate1 20s linear infinite;
    bottom:-150px;

}

.box-area li:nth-child(1){
    font-size: 40px;
    left: 86%;
    animation-delay: 0s;
    
}
.box-area li:nth-child(2){
    font-size: 30px;
    left: 12%;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    font-size: 25px;
    left: 70%;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4){
    font-size: 45px;
    left: 42%;
    animation-delay: 0s;
    animation-duration: 15s;
    
}
.box-area li:nth-child(5){
    font-size: 34px;
    left: 65%;
    animation-delay: 0s;
}
.box-area li:nth-child(6){
    font-size: 28px;
    left: 15%;
    animation-delay: 3.5s;
}
.box-area li:nth-child(7){
    font-size: 45px;
    left: 40%;
    animation-delay: 3s;
}
.box-area li:nth-child(8){
    font-size: 33px;
    left: 77%;
    animation-delay: 5s;
}
.box-area li:nth-child(9){
    font-size: 22px;
    left: 14%;
    animation-delay: 7s;
}
.box-area li:nth-child(10){
    font-size: 37px;
    left: 80%;
    animation-delay: 8s;
}
.box-area li:nth-child(11){
    font-size: 22px;
    left: 45%;
    animation-delay: 0s;
}
.box-area li:nth-child(12){
    font-size: 31px;
    left: 66%;
    animation-delay: 2s;
}
.box-area li:nth-child(13){
    font-size: 37px;
    left: 77%;
    animation-delay: 1.8s;
}
.box-area li:nth-child(14){
    font-size: 29px;
    left: 42%;
    animation-delay: 5s;
}
@keyframes animate1{
    0%{
        transform: translateY(0) rotate(-180deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity:0;
    }
}
.arrow {

    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    width: 50px;
    height: 50px;
}
.arrow.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.container {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}

h4{
    color:white;
    display:inline-block;
    margin-left: 10px;

}
.liveChat {
    width: 350px;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 1px black;
    position: fixed;
    right: 30px;
    bottom: 20px;
}

.message-bar {
    background-color: #17a2b8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 346px;
    height: 40px;
}
.message-bar-border {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.send{
    display: inline;
}

.form-control{
    margin:10px;
}

.input_text{
    vertical-align: top;
}
#message-container {
    width: 346px;
    height: 400px;
    overflow-y: scroll;
    background-color: white;
}

.submit-container {
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 350px;
    margin-bottom: 10px;
    padding-left: 10px;
}
#send-button{
    margin-top: 6px;
}

.up,.down{
    font-weight: bold;
    box-sizing: border-box;
    /* cursor: pointer; */
    background: none;
    border:none;
    outline:none;
    padding:5px;
    width: 35px;
    height: 35px;
    float:right;
    
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}